.parentDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.childDiv {
  text-align: center;
  margin-left: 60px;
}

.home-div {
  background-image: url(./images/bg.jpg);
  position: absolute;
  width: 100%;
}

.price-div {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-right: 147px;
}
